# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# SQLite3 database files:
db.*

# Logs:
*.log

# PyCharm
.idea

# locales binary files
*.mo

# coverage file and folder
.coverage
coverage-report/

# node_modules folder
node_modules/

# media files folder
media/

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini
