{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
<title>{% trans 'Leagues - Main' %}</title>
{% endblock %}

{% block static %}
<link href="{% static 'fifa_league/css/leagues_list.css'%}" rel="stylesheet" />
{% endblock %}

{% block body %}
    {% if leagues_list %}
    <h1 class="title">{% trans 'Leagues' %}</h1>
            {% for league in leagues_list %}
            <div class="league_block">
                <img src="{{ league.logo.url }}">
                <h3><a href='{{league.shortcut}}'> {{ league.name }} </a></h3>
                <p>{{ league.short_description}}</p>
                <h4>Author: {{ league.author.username }}</h4>
                {% if league.author == request.user %}
                <h4 style="color:red;">CAN EDIT</h4>
                {% endif %}
            </div>
            <br>
            <hr class="separate_line">
            <br>
            {% endfor%}
    {% else %}
        <h1 class="title">{% trans 'No leagues available' %}</h1>
        <ul class="leagues_list" id="leagues-list">

        </ul>
    {% endif %}
{% endblock %}