<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leagues - Main</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="All FIFA leagues">
    <meta name="keywords" content="FIFA, football">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all">

    {% load static %}

    <link href="{% static 'fifa_league/css/leagues_list.css'%}" rel="stylesheet" />
    <link href="{% static 'fifa_league/css/addmenu.css'%}" rel="stylesheet" />

    <script src="{% static 'fifa_league/libs/jquery-3.1.0.min.js' %}"></script>
    <script src="{% static 'fifa_league/js/Ajax.js' %}"></script>
    <script src="{% static 'fifa_league/js/UI.js' %}"></script>
    <script>
        $(document).ready(function (){
            UI.init();
        })
    </script>
</head>
<body>
{% csrf_token %}
<div class="add_menu" id="add-league-menu">
    <img class="close" src="{% static 'fifa_league/gfx/X.svg' %}">
    <h3>Create new league</h3>
    <form action="/fifa/create_league/" method="post" id="create-league-form">
        Name: <input id="league-name-form" required>
        <br>
        Shortcut: <input id="league-shortcut-form" required pattern="[A-Za-z0-9]+">
        <br>
        <input type="submit" value="Create league">
    </form>
</div>

<div class="add_menu" id="add-match-menu">
    <img class="close" src="{% static 'fifa_league/gfx/X.svg' %}">
    <h3>Create new match</h3>
    <form action="/fifa/create_match/" method="post" id="create-match-form">
        League:
        <select id="match-league-form">
            {% for league in leagues_list %}
                <option value="{{league.shortcut}}"> {{ league.name }}</option>
            {% endfor%}
        </select>
        <br>
        Home:
        <select id="match-home-form">

        </select>
        <br>
        Guest:
        <select id="match-guest-form">

        </select>
        <br>
        Home score: <input type="number" id="match-home-score-form" min="0" max="999" required>
        <br>
        Guest score: <input type="number" id="match-guest-score-form" min="0" max="999" required>
        <br>
        <input type="submit" value="Create league">
    </form>
</div>



<div class="main_menu">
    <button id="add-league-menu-button">Add league</button>
    <button id="add-match-menu-button">Add match</button>
</div>

<div>
    <h2>Leagues:</h2>
    {% if leagues_list %}
        <ul class="league_list">
            {% for league in leagues_list %}
            <li><a href='{{league.shortcut}}'> {{ league.name }} </a></li>
            {% endfor%}
        </ul>
    {% else %}
        <h2>No leagues available</h2>
    {% endif %}
</div>
</body>
</html>
