{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
<title>{% trans 'Leagues - Main' %}</title>
{% endblock %}

{% block static %}
<link href="{% static 'fifa_league/css/leagues_list.css'%}" rel="stylesheet" />
{% endblock %}

{% block body %}
 <h2>{% trans 'Leagues:' %}</h2>
    {% if leagues_list %}
        <ul class="league_list">
            {% for league in leagues_list %}
            <li><a href='{{league.shortcut}}'> {{ league.name }} </a></li>
            {% endfor%}
        </ul>
    {% else %}
        <h2>{% trans 'No leagues available' %}</h2>
    {% endif %}
{% endblock %}