{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
<title>{% trans 'League' %} - {{ teams.first.league.name }}</title>
{% endblock %}

{% block static %}
 <link href="{% static 'fifa_league/css/team_list.css'%}" rel="stylesheet" />
{% endblock %}

{% block body %}
{% if teams %}
        <table class="teams_table">
            <tr>
                <td>{% trans 'Team' %}</td>
                <td>{% trans 'Count' %}</td>
                <td>{% trans 'Wins' %}</td>
                <td>{% trans 'Loses' %}</td>
                <td>{% trans 'Draws' %}</td>
                <td>{% trans 'Goals SC' %}</td>
                <td>{% trans 'Goals CN' %}</td>
                <td>{% trans 'Points' %}</td>
            </tr>
            {% for team in teams %}
            <tr>
                <td><a href='{{team.team.shortcut}}'> {{ team.team.name }} </a></td>
                <td> {{ team.match_count }} </td>
                <td> {{ team.wins }} </td>
                <td> {{ team.loses }} </td>
                <td> {{ team.draws }} </td>
                <td> {{ team.goals_scored }} </td>
                <td> {{ team.goals_conceded }} </td>
                <td> {{ team.points }} </td>
            </tr>
            {% endfor%}
        </table>
    {% else %}
        <h2>{% trans 'No teams available' %}</h2>
{% endif %}
{% endblock %}