{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
<title>{% trans 'League' %} - {{ teams.first.league.name }}</title>
{% endblock %}

{% block static %}
 <link href="{% static 'fifa_league/css/team_list.css'%}" rel="stylesheet" />
{% endblock %}

{% block body %}
{% if teams %}
        <table class="teams_table">
            <thead>
            <tr>
                <th>{% trans 'Team' %}</th>
                <th>{% trans 'Count' %}</th>
                <th>{% trans 'Wins' %}</th>
                <th>{% trans 'Loses' %}</th>
                <th>{% trans 'Draws' %}</th>
                <th>{% trans 'Goals SC' %}</th>
                <th>{% trans 'Goals CN' %}</th>
                <th>{% trans 'Points' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for team in teams %}
            <tr>
                <td>
                    <img class='team_logo' src="{{ team.team.logo.url }}">
                    <a href='{{team.team.shortcut}}'> {{ team.team.name }} </a>
                </td>
                <td> {{ team.match_count }} </td>
                <td> {{ team.wins }} </td>
                <td> {{ team.loses }} </td>
                <td> {{ team.draws }} </td>
                <td> {{ team.goals_scored }} </td>
                <td> {{ team.goals_conceded }} </td>
                <td> {{ team.points }} </td>
            </tr>
            {% endfor%}
            </tbody>
        </table>
    {% else %}
        <h1>{% trans 'No teams available' %}</h1>
{% endif %}
{% endblock %}