<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ league.name }} - League</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="All FIFA leagues">
    <meta name="keywords" content="FIFA, football">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all">

    {% load static%}
    <link href="{% static 'fifa_league/css/team_list.css'%}" rel="stylesheet" />
</head>
<body>
<div class="main_menu">

</div>

<div>
    {% if teams %}
        <table class="teams_table">
            <tr>
                <td>Team</td>
                <td>Count</td>
                <td>Wins</td>
                <td>Loses</td>
                <td>Draws</td>
                <td>Goals SC</td>
                <td>Goals CN</td>
                <td>Points</td>
            </tr>
            {% for team in teams %}
            <tr>
                <td><a href='{{team.team.shortcut}}'> {{ team.team.name }} </a></td>
                <td> {{ team.match_count }} </td>
                <td> {{ team.wins }} </td>
                <td> {{ team.loses }} </td>
                <td> {{ team.draws }} </td>
                <td> {{ team.goals_scored }} </td>
                <td> {{ team.goals_conceded }} </td>
                <td> {{ team.points }} </td>
            </tr>
            {% endfor%}
        </table>
    {% else %}
        <p>No teams available</p>
    {% endif %}
</div>
</body>
</html>
