<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add menu</title>
</head>
<body>
<div class="create_team_div">
    <h3>Create team</h3>
    <form action="create_team/" method="post">
        {% csrf_token %}
        League:
        <select name="league_name">
            {% for league in leagues_list  %}
                <option value="{{league.shortcut}}"> {{ league.name }}</option>
            {% endfor%}
        </select>
        <br>
        Team name: <input name="team_name">
        <br>
        Team shortcut (for user-friendly url): <input name="team_shortcut" required pattern="[A-Za-z0-9]+">
        <input type="submit" value="Create team" required>
    </form>
</div>

<div class="create_match_div">
    <h3>Create match</h3>
    <form action="create_match/" method="post">
        {% csrf_token %}
        Home:
        <select name="home_team">
            {% for team in teams %}
                <option value="{{team.shortcut}}"> {{ team.name }}</option>
            {% endfor%}
        </select>
        <br>
        Guest:
        <select name="guest_team">
            {% for team in teams %}
                <option value="{{team.shortcut}}"> {{ team.name }}</option>
            {% endfor%}
        </select>
        <br>
        Home score: <input type="number" name="home_score" min="0" max="999" required>
        <br>
        Guest score: <input type="number" name="guest_score" min="0" max="999" required>
        <input type="submit" value="Create match">
    </form>
</div>

</body>
</html>