{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
<title>{% trans 'Team' %} - {{ team_stat.team.name }}</title>
{% endblock %}

{% block static %}
<link href="{% static 'fifa_league/css/team_view.css'%}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<h1>{% trans 'Team name:' %} {{ team_stat.team.name }}</h1>
<div class="matches_div">
    <h2>{% trans 'Matches:' %}</h2>
    {% if team_stat.home_matches.all and team_stat.guest_matches.all %}
        {% for match in team_stat.home_matches.all %}
            <div class="match">
                Home  -  Guest <br>
                {{ match.team_home.team.name }}  - {{ match.team_guest.team.name }} <br>
                {{ match.team_home_goals }} - {{ match.team_guest_goals}}
            </div>
        {% endfor%}
        {% for match in team_stat.guest_matches.all%}
             <div class="match">
                 Home  -  Guest <br>
                {{ match.team_home.team.name }}  - {{ match.team_guest.team.name }} <br>
                {{ match.team_home_goals }} - {{ match.team_guest_goals}}
             </div>
        {% endfor%}
    {% elif team_stat.home_matches.all %}
        {% for match in team_stat.home_matches.all %}
             <div class="match">
                 Home  -  Guest <br>
                {{ match.team_home.team.name }}  - {{ match.team_guest.team.name }} <br>
                {{ match.team_home_goals }} - {{ match.team_guest_goals}}
             </div>
        {% endfor%}
    {% elif team_stat.guest_matches.all %}
        {% for match in team_stat.guest_matches.all %}
             <div class="match">
                 Home  -  Guest <br>
                {{ match.team_home.team.name }}  - {{ match.team_guest.team.name }} <br>
                {{ match.team_home_goals }} - {{ match.team_guest_goals}}
             </div>
        {% endfor%}
    {% else %}
        <h2>{% trans 'No matches' %}</h2>
    {% endif %}
</div>
<div class="players_div">
    <h2>{% trans 'Players:' %}</h2>
    {% for player in team_stat.team.player_set.all %}
             <div class="player">
                 <img src="{{ player.photo.url }}" alt="{{ player.name }}">
                 <div class="player_description">
                 {% trans 'Name:' %} {{ player.name }} <br>
                 {% trans 'Age:' %} {{ player.age }}
                 </div>
             </div>
        {% endfor%}
</div>
{% endblock %}