<!DOCTYPE html>
<html lang="en">
<head>
    {% load i18n %}
    <meta charset="UTF-8">
    <title>{% trans 'Team' %} - {{ team.name }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="All FIFA leagues">
    <meta name="keywords" content="FIFA, football">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all">
    {% load static %}
    <link href="{% static 'fifa_league/css/team_view.css'%}" rel="stylesheet"/>
</head>
<body>
<div class="main_menu">

</div>
<h1>{% trans 'Team name:' %} {{ team.name }}</h1>
<div class="matches_div">
    <h2>{% trans 'Matches:' %}</h2>
    {% if team_stat.home_matches.all and team_stat.guest_matches.all %}
        {% for match in team_stat.home_matches.all %}
            <div class="match">
                Home  -  Guest <br>
                {{ match.team_home.team.name }}  - {{ match.team_guest.team.name }} <br>
                {{ match.team_home_goals }} - {{ match.team_guest_goals}}
            </div>
        {% endfor%}
        {% for match in team_stat.guest_matches.all%}
             <div class="match">
                 Home  -  Guest <br>
                {{ match.team_home.team.name }}  - {{ match.team_guest.team.name }} <br>
                {{ match.team_home_goals }} - {{ match.team_guest_goals}}
             </div>
        {% endfor%}
    {% elif team_stat.home_matches.all %}
        {% for match in team_stat.home_matches.all %}
             <div class="match">
                 Home  -  Guest <br>
                {{ match.team_home.team.name }}  - {{ match.team_guest.team.name }} <br>
                {{ match.team_home_goals }} - {{ match.team_guest_goals}}
             </div>
        {% endfor%}
    {% elif team_stat.guest_matches.all %}
        {% for match in team_stat.guest_matches.all %}
             <div class="match">
                 Home  -  Guest <br>
                {{ match.team_home.team.name }}  - {{ match.team_guest.team.name }} <br>
                {{ match.team_home_goals }} - {{ match.team_guest_goals}}
             </div>
        {% endfor%}
    {% else %}
        <h2>{% trans 'No matches' %}</h2>
    {% endif %}
</div>
<div class="players_div">
    <h2>{% trans 'Players:' %}</h2>
    {% for player in team.player_set.all %}
             <div class="player">
                 {% trans 'Name:' %} {{ player.name }} <br>
                 {% trans 'Age:' %} {{ player.age }}
             </div>
        {% endfor%}
</div>
</body>
</html>
