.leagues_list {
margin-left:2em;
list-style:none;
}

.leagues_list li a {
font-size:1.5em;
text-decoration:none;
color:#000;
}

.leagues_list li a:hover {
color:grey;
}

.title {
text-align:center;
}

.league_block
{
    width: 100%;
    height: 5em;
    margin-top: 1em;
}

.league_block img
{
    float: left;
    width: 4em;
    height: 4em;
    margin-right: 2em;
}
