.match {
width:100%;
text-align:center;
border:.1em solid green;
padding:.5em;
}

.matches_div {
float:left;
width:40vw;
}

.players_div {
float:right;
width:40vw;
}

.player {
width:100%;
text-align:center;
border:.1em solid red;
padding:.5em;
}
