.teams_table {
float:left;
width:100%;
border-collapse:collapse;
border:.15em solid #000;
}

.teams_table td {
text-align:center;
border:.1em solid #000;
padding:.5em;
}

.teams_table th {
padding:.5em;
}

.teams_table td a {
font-size:1.5em;
text-decoration:none;
color:#000;
}

.teams_table td a:hover {
color:grey;
}
