* {
       margin:0;
       padding: 0;
       box-sizing: border-box;
   }
   .main_menu {
       width: 100vw;
       height: 10vh;
       background-color: green;
   }

   .teams_table
   {
       float: left;
       width: 50vw;
       border: 0.15em solid black;
       border-collapse: collapse;
   }

   .teams_table td
   {
       border: 0.1em solid black;
       padding: 0.5em;
   }

   .teams_table td a
   {
       text-decoration: none;
       color: black;
       font-size: 1.5em;
   }

   .teams_table td a:hover
   {
       color: grey;
   }

   .create_match_div
   {
       width: 50vw;
       float: right;
   }
