.page_form
{
    width: 80%;
    margin: 1em auto;
}

.page_form h2
{
    text-align: center;
}

.page_form input[type=password], input[type=email]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.page_form label
{
    font-size: 1.1em;
}

.separate_line
{
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.avatar_upload_div
{
    width: 80%;
    height: 15em;
    margin: 1em auto;
}

.avatar_upload_div img
{
    float: left;
    height: 100%;
    width: 40%;
    border-radius: 75%;
}

.avatar_upload_div .addmenu_btn
{
    float: right;
    width: 50%;
}

#avatar-message
{
    width: 35%;
    margin-top: 2em;
    float: right;
}

.message_error
{
    color: red;
}

.message_ok
{
    color: green;
}